<div class="row ">
    {{#each courses}}
    <div class="col-sm-6 col-lg-4 mh-50 ">
        <div class="card mt-10">
            <a href="courses/{{this.slug}}">
                <div class="heigh-img">
                    <img src={{this.image}} class="card-img" alt="...">
                </div>
            </a>
            <div class="card-body">
                <a href="courses/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>
                </a>
                <p class="card-text">{{this.description}}.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    {{/each}}

</div>